<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %> <br>
    <%= f.input :description %> <br/>
    <%= f.input :complete %><br>
    <%= f.input :deadline, as: :date, html5: true %><br>
    <%= f.association :user %><br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
