<p id="notice"><%= notice %></p>

<h1><center>Listing Tasks</center></h1>

<table>
  <thead>
    <tr>
      <TABLE  BORDER="5">
   <TR>
      <TH COLSPAN="4">
      </TH>
   </TR>
      <TH>Title</TH>
      <TH>Description</TH>
        <TH>Complete</TH>
        <TH>Deadline</TH>
        <TH>User</TH>
      
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %><br></td>
        <td><%= task.description %><br></td>
        <td><%= task.complete %><br></td>
        <td><%= task.deadline %><br></td>
        <td><%= task.user %><br></td>
        <td><%= link_to 'Show', task %><br></td>
        <td><%= link_to 'Edit', edit_task_path(task) %><br></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %><br></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
