<p id="notice"><%= notice %></p>

<p>
  <strong>Title:<br></strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:<b></strong> </b>
  <%= @task.description %>
</p>

<p>
  <strong>Complete:</b></strong>
  <%= @task.complete %>
</p>

<p>
  <strong>Deadline:</b></strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>User:</b></strong></b>
  <%= @task.user %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
