<div class="jumbotron">
  <h1>Welcome to Hoober</h1>
  <p> See <code>app/views/layouts/application.html.erb</code> for the site layout, and <code>app/views/home/index.html.erb</code> for this text.
  For our purposes, we will keep this here for now.</p>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Example Models</h3>
  </div>
  <div class="panel-body">
    <p>
      We've provided a few sample resources so you can play around and
      explore some rails code.
    </p>
    <p>
      Please go <%= link_to "Register Your .edu Email", new_user_path, class:
      "btn btn-primary btn-xs" %> first,
      if you haven't done so already.
    </p>
    <p>
      Can I put an image here?
      <%= image_tag 'https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpf1/v/t34.0-12/12243606_10203878319353042_1832629326_n.jpg?oh=18df485bc8f0a6a8890fb8975770e269&oe=564A623B' %>
    </p>
    <%= link_to "See Tasks", tasks_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Resources</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><%= link_to "Bootstrap Components Reference",
      "http://getbootstrap.com/components" %></li>
      <li><%= link_to "Bootstrap CSS Reference",
      "http://getbootstrap.com/css" %></li>
      <li><%= link_to "This code on GitHub",
      "https://github.com/rails-school/starter" %></li>
    </ul>
  </div>
</div>
