<div class="jumbotron">
  <h1><center>Welcome to Hoober</center></h1>
  <p> <center> <i>The easiest way to get home, get back, and get a ride.</i></center> </p>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Get Started</h3>
  </div>
  <div class="panel-body">
    <p>
      <center>In order to see posts and post yourself, you must be a student! </center>
    </p>
    <p>
     <center> Please go <%= link_to "Register Your .edu Email", new_user_path, class:
      "btn btn-primary btn-xs" %> first,
       if you haven't done so already. </center>
    </p>
    <p>

      <center><%= image_tag 'https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpf1/v/t34.0-12/12243606_10203878319353042_1832629326_n.jpg?oh=18df485bc8f0a6a8890fb8975770e269&oe=564A623B' %></center>
    </p>
    <p> <center> After doing so, then you can
      <%= link_to "See Student's Posts", posts_path, class: "btn btn-primary" %> and go find a ride! </center> </p>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Resources</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><%= link_to "Bootstrap Components Reference",
      "http://getbootstrap.com/components" %></li>
      <li><%= link_to "Bootstrap CSS Reference",
      "http://getbootstrap.com/css" %></li>
      <li><%= link_to "This code on GitHub",
      "https://github.com/rails-school/starter" %></li>
    </ul>
  </div>
</div>
