<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.attachment_field :image %>
    <%= f.input :deadline, as: :date, html5: true %>
    <%= f.input :seats %>
    <%= f.input :destination %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
