<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :deadline, as: :date, html5: true %>
    <%= f.input :seats  %>
    <%= f.input :from %>
    <%= f.input :to %>
    <h7>* Riding or Driving? Please specify in the notes section. </h7>
    <%= f.input :notes %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
