
<center>
  <h1><font color="orange">Hoo's </font> going places?</h1>
<div class="page-header">
  <%= link_to new_post_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Make a listing
  <% end %>
  </div></center>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Student Contact Info</th>
            <th>Date of Departure</th>
            <th>Seats Available or Needed</th>
            <th>From</th>
            <th>To</th>
            <th>Post Date</th>
            <th>Riding or Driving</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @posts) do |post| %>
            <td><%= post.user.name %></td>
            <td><%= post.deadline %></td>
            <td><%= post.seats %></td>
            <td><%= post.from %></td>
            <td><%= post.to %></td>
            <td><%= post.created_at %></td>
            <td><%= post.notes  %></td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>